
@{
    ViewData["Title"] = "AccesDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center mt-4">..::HATA::..</h2>

<h4 class="text-danger text-center">

    BU SAYFAYA ERİŞİM İZNİNİZ YOKTUR.

</h4>

